/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 
@import '../sass/helpers/__fonts.scss'; 
@import '../sass/helpers/__pagewrapper.scss'; 
@import '../sass/helpers/__colors.scss'; 
.tops {
    display: flex;
    justify-content: space-between;
    &__logo {
        margin: 15px 0 19px 62px;
    }
    &__menu {
        display: flex;
        list-style: none;
        &--item {
            margin: 0 30px 0 0;
            a{
                @include topfont;
                &:hover {
                    color: $footerFontColor;
                }
            }
        }
    }
}
.hero {
    background: url('../img/heroImage.jpg') center center no-repeat;
    background-size: cover;
    height: 982px;
    &__head {
        @include herohead;
    }
    &__smalltext {
        @include smalltext;
    }
    &__button {
        @include herobutton;
    }
}
/**/
.reserv {
    @include reservsett;
    &__head {
        @include reservhead;
    }
    &__text{
        @include smalltext;
    }
    &__textfield {
        @include forminputuniversal;
    }
    &__from {
        @include forminputuniversal;
    }
    &__to {
        @include forminputuniversal;
    }
    &__check {
        @include checkbtn;
    }
}
/**/
.rooms{
    display: inline-flex;
}
/**/
/**/
.activ {
    &__head {
        @include activehead;
    }
    &__text {
        @include activetext;
    }
    &__list {
        display: flex;
        list-style: none;
        justify-content: center;
        &--item {
            margin: 0 20px;
        }
    }
}
.imageactive1 {
    background: url('../img/active1.jpg') center center no-repeat;
    height: 349px;
    
}
.imageactive2 {
    background: url('../img/active2.jpg') center center no-repeat;
    height: 349px;
    
}
.imageactive3 {
    background: url('../img/active3.jpg') center center no-repeat;
    height: 349px;
    
}
.allimages {
    display: flex;
    justify-content: center;
}
/**/
/**/
.smalltext {
    display: none;
}
.imagetext {
   margin: -23px 0 0 0;
   color: #fff;
   .imagehead{
       cursor: pointer;
   }
}
.active {
    display: block;
}
/**/
.topBoxes {
    background: $footerColor;
    &__item{
        display: inline-block;
    }
}
/**/
.arrowup {
   @include arrowup;
}
/**/
/**/
footer {
    background: $footerColor;
}
.bottomBoxes {
    border-top:2px solid $footerFontColor;
}
.botbox {
    display: inline-block;
    justify-content: space-between;
    &__item{
        @include footerText;
    }
    &__numb {
        @include footerText;
    }
    &__mail {
        @include footerText;
        text-decoration: none;
    }
}
/**/