@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/*hero*/
@mixin herohead {
  font: $normal-weight em($font-size-fifty_pixels)  'Lato';
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
@mixin smalltext {
   font: $light-weight em($font-size-eighteen_pixels)  'Lato';
   color: #8b8b8a;
   text-align: center;
   line-height: 25px;
   width: 80%;  
   margin: 0 auto;
}
@mixin herobutton {
   width: 257px;
   height: 69px;
   background: #5a477d;
   display: block;
   text-decoration: none;
   color: #fff;
   font: $light-weight em($font-size-twentyfive_pixels)  'Lato';
   margin: 0 auto;
   line-height: 69px;
   text-align: center;
}
/**/
@mixin reservsett {
  width: 1071px;
    height: 339px;
    margin: -145px auto 0 auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
}
@mixin reservhead {
  font: $normal-weight em($font-size-forty_pixels)  'Lato';
  text-align: center;
  color: #000;
}
@mixin forminputuniversal {
  width: 211px;
  height: 65px;
  border:1px solid #5a477d;
}
@mixin checkbtn {
  width: 281px;
  height: 65px;
  background: #5a477d;
  border:1px solid #5a477d;
}
/**/
@mixin activehead {
  font: $medium-weight em($font-size-fifty_pixels)  'Lato';
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
@mixin activetext {
  font: $normal-weight em($font-size-sixteen_pixels)  'Lato';
  line-height: 30px;
  color: #a5a5a5;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
/*topmenu*/ 
@mixin topfont {
  font: $bold-weight em($font-size-sixteen_pixels)  'Lato';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
/**/
@mixin arrowup{
   position: fixed;
    right: 0px;
    top: 90%;
    text-decoration: none;
    border:1px solid $footerFontColor;
    color: #000;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    background: #fff;
    z-index: 1;
    width: 30px;
}
/*footer*/
@mixin footerText {
  font: $bold-weight em($font-size-twelve_pixels)  'Lato';
  color: $footerFontColor;
}